li{
  cursor: pointer;

  &:hover{
    text-decoration: underline;
    text-decoration-color: #f5f5f5;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    transition: ease-in-out 0.5s;
  }
}
ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
