<div [formGroup]="form">
  <h3>Dane kupującego</h3>
  <div v>
    <label for="imie">Imie</label>
    <input type="text" formControlName="imie">
    <label for="nazwisko">Nazwisko</label>
    <input type="text" formControlName="nazwisko">
    <label for="email">Email</label>
    <input type="text" formControlName="email">
  </div>
  <h3>Dane do wysyłki</h3>
  <div formGroupName="adres">
    <label for="ulica">Ulica</label>
    <input type="text" formControlName="ulica">
    <label for="numer">Numer</label>
    <input type="text" formControlName="numer">
    <label for="kod">Kod pocztowy</label>
    <input type="text" formControlName="kod">
    <label for="miasto">Miasto</label>
    <input type="text" formControlName="miasto">
  </div>
  <h3>Koszyk</h3>
  <div formArrayName="koszyk">
    <div *ngFor="let pozycja of koszyk.controls; let i=index">
      <div formGroupName="{{i}}">
        <label for="nazwa">Nazwa</label>
        <input type="text" formControlName="nazwa">
        <label for="ilosc">Ilość</label>
        <input type="text" formControlName="ilosc">
        <label for="cena">Cena</label>
        <input type="text" formControlName="cena">
      </div>
    </div>
  </div>
  <button class="button" (click)="addProduct()">Nowy produkt</button>
  <div>
    <h3>Podsumowanie</h3>
    <div>Imie: {{form.get('imie')?.value}}</div>
    <div>Nazwisko: {{form.get('nazwisko')?.value}}</div>
    <div>Email: {{form.get('email')?.value}}</div>
    <div>Ulica: {{form.get('adres')?.get('ulica')?.value}}</div>
    <div>Numer: {{form.get('adres')?.get('numer')?.value}}</div>
    <div>Kod pocztowy: {{form.get('adres')?.get('kod')?.value}}</div>
    <div>Miasto: {{form.get('adres')?.get('miasto')?.value}}</div>
    <div *ngFor="let pozycja of koszyk.controls; let i=index">
      <div>Nazwa: {{form.get('koszyk')?.get(i.toString())?.get('nazwa')?.value}}</div>
      <div>Ilość: {{form.get('koszyk')?.get(i.toString())?.get('ilosc')?.value}}</div>
      <div>Cena: {{form.get('koszyk')?.get(i.toString())?.get('cena')?.value}}</div>
    </div>
    <div>Suma: {{sum}}</div>
  </div>
  <button (click)="submit()">Zamów</button>
