<div>
  <button
  [style.color]="css.color"
  [style.background-color]="css['background-color']"
  [style.box-shadow]="css['box-shadow']"
  [style.border]="css['border']"
  >Button</button>
  <div
  [style.color]="css.color"
  [style.background-color]="css['background-color']"
  [style.box-shadow]="css['box-shadow']"
  [style.border]="css['border']"
  >div</div>
  <input value="input"
  [style.color]="css.color"
  [style.background-color]="css['background-color']"
  [style.box-shadow]="css['box-shadow']"
  [style.border]="css['border']"
  >
</div>
